<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/second" method="post">
    <input type="text" placeholder="username" name="username">
    <br><br>
    <input type="text" placeholder="email" name="email">
    <br><br>
    <input type="text" placeholder="number" name="number">
    <br><br>
    
    <button>Submit  </button>
  </form>
</body>
</html>